<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <a class="navbar-brand" href="/home">CarSharings</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--/*@thymesVar id="user" type=""*/-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown" style="position: absolute; right: 150px"> <!--Тут надо разобраться с позицрованием, сделать автоматом -->
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    [[${#httpServletRequest.remoteUser}]]
                </a>
                <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/account">My account</a>
                    <a class="dropdown-item" href="/myorders">My orders</a>
                    <a class="dropdown-item" href="/myshares">My shares</a>
<!--                    <a class="dropdown-item" th:href="@{'/user/' + ${#httpServletRequest.remoteUser}}">User Edit</a>-->
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <form th:action="@{/logout}" method="post">
                        <input class="dropdown-item" type="submit" value="Sign Out"/>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>